:root {
  /*https://coolors.co/f06543-e8e9eb-e0dfd5-313638-f09d51 coolors.co pallete*/
  --color-primary: #f06543; /*Header, heading*/
  --color-secondary: #e8e9eb; /*Light on dark text, header text color*/
  --color-other1: #e0dfd5; /*Background*/
  --color-other2: #313638; /*Text, footer*/
  --color-other3: #f09d51; /*Link hover, navbar select*/
}

html, body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

sup {
  font-size: 10pt !important;
}

p {
  font-size: 14pt;
  color: var(--color-other2);
  text-align: left;
}

html {
  height: 100vh;
  max-width: 100vw;
  background-color: var(--color-primary);
}

body {
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none;
  color: var(--color-other3);
}
a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

/*Navbar*/

div.navbar ul {
  margin: 0;
  padding: 0 10px;

  list-style-type: none;

  position: fixed;
  top: 0;
  width: 100vw;
  height: fit-content;

  background-color: var(--color-other2);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 10px #0002;
}

li a.navelem {
  float: left;
  color: var(--color-secondary);
  display: block;
  padding: 12px;

  transition-property: color, background-color;
  transition-duration: 100ms;
}
li a.navelem.back {
  background-color: var(--color-other1);
  color: var(--color-other2);
  margin-right: 5px;
}
li a.navelem.active {
  background-color: var(--color-other3);
  color: var(--color-other2);
}
li a.navelem:hover {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/*Content*/
div.content {
  margin-top: 42px;
  margin-bottom: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.heading {
  background-color: var(--color-primary);
  color: var(--color-other1);
  padding: 150px;
  text-align: center;
}
div.small {
  padding: 75px;
}

div.body {
  padding: 3rem 30rem;
  background-color: var(--color-other1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Footer*/
div.footer {
  position: fixed;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;

  width: 100vw;
  bottom: 0;
  background-color: var(--color-other2);
  color: var(--color-secondary);
  box-shadow: 0 0 5px 10px #0002;
}

div.footersection {
  display: flex;
  flex-direction: column;
}

p.grayed {
  color: #ccc;
}

/*Main content*/
.section-divider {
  margin: 2rem 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: var(--color-primary);
}

.smallnav {
  display: none;
}

/*Tables*/
tr.top {
  background-color: var(--color-other3);
  color: var(--color-other2);
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  padding: 8px;
}

tr.t1 {
  background-color: var(--color-other1);
  color: var(--color-other2);
  text-align: center;
  font-weight: bold;
}

tr.t2 {
  background-color: var(--color-secondary);
  color: var(--color-other2);
  text-align: center;
  font-weight: bold;
}

td {
  border: 1px solid;
  padding: 5px; 
}

table {
  border-collapse: collapse;
  width: 90%;
}

/*Media selector to remove the margin and unstick the footer on small width screens (phones)*/
@media only screen and (max-width: 600px) {
  div.body {
    padding: 3rem 5px;
  }
  div.heading {
    padding: 1rem 5px;
  }
  div.content {
    margin-top: 3.2rem;
  }
  div.footer {
    position: relative;

  }
  div.navbar {
    display: none;
  }

  /*Small navbar*/
  .smallnav {
    display:flex;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    width: 100vw;
    box-shadow: 0 0 5px 10px #0002;
  }
  .dropdown i {
    font-size: 1.5rem;
  }
  .dropbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--color-other2);
    color: #ffffff;
    padding: 12px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-other2);
    min-width: 160px;
    z-index: 1;
  }
  .dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f06543;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #f06543;
  }
}
